__pycache__/pauli_algebra_test.cpython-310-pytest-7.2.1.pyc
__pycache__/pauli_algebra.cpython-310.pyc
__pycache__/pauli_group_test.cpython-310-pytest-7.2.1.pyc
__pycache__/pauli_group.cpython-310.pyc
